* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "MedievalSharp", sans-serif;
}

:root {
    --background: #0a0c10;
    --claro: #e2e8f0;
    --gold: #d4af37;
    --gold-low: rgba(212, 175, 55, 0.3);
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--claro);
    background-color: var(--background);
    overflow-x: hidden;
    width: 100%;
}