#hogwarts-section{
    min-height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/img/Plano-fundo-hogwarts.jpeg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f1f1f1;
}

#hogwarts-section h2{
    font-size: 2.5em;
    margin-bottom: 20px;
}

#hogwarts-section p{
    font-size: 1.2em;
    max-width: 1000px;
}