body {
  background: radial-gradient(circle at top, #1a1a2e, #0b0b14);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  width: 90%;
  max-width: 800px;
  padding: 30px;
  text-align: center;

  background: rgba(10, 10, 20, 0.7);
  border: 1px solid rgba(212, 175, 55, 0.3);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

main #imagemResultado {
    width: 200px;
}